@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: black;
    width: 16%;
    border-bottom-right-radius: 40px;
}

nav{
    width: 84%;
}

.pesquisa{
    width: 70%;
    display: flex;
    height: 100px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-left: 30%;
}

b{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.value{
    cursor: pointer;
    transition: .5s;
}

.value:hover{
    color: gray;
}

.elemento-verfical{
    width: 1px;
    height: 50px;
    background-color: white;
}

hr{
    background-color: white;
    height: 1px;
    border: none;
}

.fora-da-div{
    background-image: url(https://i.pinimg.com/564x/7f/1c/dc/7f1cdce48a6ef2cb2297d1e61a6ee462.jpg);
    position: absolute;
    width: 100%;
    height: 550px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: -101px;
}

.antes-de-comecar{
    width: 100%;
    height: 400px;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 40px;
    width: 40%;
    margin-left: 150px;
    font-size: 50px;
    color: white;
}

.sub-script{
    margin-top: 20px;
    width: 35%;
    height: 100px;
    margin-left: 150px;
    display: flex;
    font-family: "Oswald", sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.saiba-empresa{
    width: 180px;
    height: 70px;
}

.atendimento{
    width: 200px;
    color: gray;
}