@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 15%;
    height: 120px;
    border-bottom-right-radius: 40px;
}

nav{
    width: 85%;
}

.pesquisa{
    width: 80%;
    display: flex;
    height: 120px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    margin-left: 20%;
}

b{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.value{
    cursor: pointer;
    transition: .5s;
}

.value:hover{
    color: gray;
}

.elemento-verfical{
    width: 2px;
    height: 50px;
    background-color: white;
}

hr{
    background-color: white;
    height: 2px;
    border: none;
}

.fora-da-div{
    position: absolute;
    width: 100%;
    height: 650px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: -130px;
}

.antes-de-comecar{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

h1{
    margin-top: 50px;
    width: 40%;
    margin-left: 150px;
    font-size: 50px;
    color: white;
}

.sub-script{
    margin-top: 20px;
    width: 35%;
    height: 100px;
    margin-left: 150px;
    display: flex;
    font-family: "Oswald", sans-serif;
    /* justify-content: flex-start; */
    align-items: center;
}

.saiba-empresa{
    width: 180px;
    height: 70px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
}

.saiba-empresa:hover{
    background-color: white;
    color: rgb(255, 119, 0);
}

.atendimento{
    margin-left: 40px;
    width: 200px;
    color: white;
    font-size: 18px;
}

.gambiarra{
    /* background-color: green; */
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 20px;
    background-image: linear-gradient(to top, white, rgb(255, 234, 217), transparent);
}

.introducao{
    margin-top: 100px;
    height: 650px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.text-introducao{
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-right: 60px; */
    text-align: justify;
    margin-top: -20px;
}

h2{
    margin-top: -10px;
    font-size: 90px;
    color: rgb(235, 229, 229);
    font-family: "Oswald", sans-serif;
    position: absolute;
    width: 50%;
}

.mini-logo{
    z-index: 1;
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: rgb(255, 119, 0);
    font-size: 30px;
}

.divulga{
    width: 85%;
    z-index: 1;
    margin-top: 20px;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    color: rgb(30, 59, 78);
    font-size: 50px;
    font-weight: 600;
    word-spacing: -3px;
}

.contexto{
    color: gray;
    z-index: 1;
    margin-top: 10px;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    width: 80%;

}

.saiba-empresa-em{
    width: 180px;
    height: 70px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(255, 119, 0);
}

.usinagemCNC{
    width: 100%;
    height: 65%;
    border-top-left-radius: 230px;
    border-bottom-left-radius: 230px;
}

.faixa-orcamento{
    background-color: rgb(255, 119, 0);
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 35px;
}

.orcamento{
    margin-top: 15px;
    width: 220px;
    height: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 8px;
}

.servicos{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.em-ordem{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 10px;
}

.cards{
    display: flex;
    justify-content:end;
    flex-direction: column;
    background-color: rgb(255, 119, 0);
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    position: relative;
    overflow: hidden;

}

.usinando{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.soldando{
    width: 100%;
    height: 100%;
}

.projetando{
    height: 100%;
    width: 100%;
}

.scale{
    transition: 3s;
}

.semi-card{
    background-color: rgba(128, 128, 128, 0.659);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .8s;
    position: absolute;
}

.sub-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 0 20px;
    transition: .9s;
    font-size: 18px;
    margin-bottom: -70%;
    color: #fff;
}

.ler-mais{
    width: 40%;
    cursor: pointer;
    font-size: 20px;
}

.ler-mais:hover{
    color: rgb(255, 119, 0);
}

.cards:hover{
    .scale{
        scale: 1.1;
    }

    .semi-card{
        height: 100%;
    }

    .sub-text{
        margin-bottom: 10%;
        transition: 1s;
    }
}

.clientes{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 218, 218);
}

.nossos-clientes{
    margin-top: 50px;
    color: rgb(255, 119, 0);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(219, 218, 218));
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(219, 218, 218));
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide{
    margin-top: -25px;
    height: 300px;
    display: inline-block ;
    animation: 10s slide infinite linear;
}

.padrao{
    height: 150px;
    margin: 30px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    border: 3px solid transparent;
}

.padrao:hover{
    border: 3px solid rgb(255, 119, 0);
    border-radius: 10px;
    /* background-color: blue; */
}

footer {
    background-color: rgb(255, 119, 0);
    color: #fff;
    height: 350px;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: rgb(219, 218, 218);
}

.footer-content {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacao-final{
    height: 220px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
}

.breve-introducao{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.mini-logo-foto{
    width: 180px;
    height: 120px;
    border-radius: 10px;
}

.mini-texto{
    margin-top: 10px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.espaco-tempo{
    width: 22%;
}

.local{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.horario-top{
    margin-top: 20px;
}

.contato{
    width: 25%;
}

.contatos{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.redes-sociais{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 40%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.social{
    margin-left: -50%;
}

.centralizado{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon{
    width: 60px;
    height: 60px;
    margin: 0 8px;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 58px;
    color: #fff;
    font-size: 20px;
    transition: all 0.4s ease;
    background-color: #FF0000;
    text-decoration: none;
}

.icon:nth-child(1){
    background-color: #4267B2;
}
.icon:nth-child(1):hover{
    color: #4267B2;
    background-color: #fff;
}

.icon:nth-child(2){
    background-color: #E1306C;
}
.icon:nth-child(2):hover{
    color: #E1306C;
    background-color: #FFF;
}


.icon:nth-child(3){
    background-color: #0077B5;
}
.icon:nth-child(3):hover{
    color: #0077B5;
    background-color: #FFF;
}

.icon:nth-child(4){
    background-color: #FF0000;
}
.icon:nth-child(4):hover{
    color: #FF0000;
    background-color: #FFF;
}

.button-topo{
    width: 20%;
    padding: 30px 0;
    display: flex;
    align-items:end;
    justify-content: center;

}

.voltar-ao-topo{
    margin-top: 120px;
    width: 80%;
    height: 60px;
}